<div class="bg-dark row flex-lg-row-reverse align-items-center border border-info rounded">
    <div class="col-10 col-sm-8 col-lg-6">
      <img
        src="/images/404.png"
        class="d-block mx-lg-auto img-fluid py-3"
        alt="Bootstrap Themes"
        loading="lazy"
      />
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold text-white">
        Welcome to Kittens!
      </h1>
      <p class="fs-5 mb-4 text-white">
        Kittens is a website made for cat enjoyers! In this webiste you can look many adorable cats, you can even post your own cat! <br> 
        This website is a place where you can scroll around and enjoy yourself while looking at many cats from different races and colors!<br>
        This website was made in honour of Oh Long Johnson. a very popular cat in the internet. It was also made in honour of Figaro!
      </p>

     
      

      <div class="d-grid gap-4 d-md-flex justify-content-md-start">
        <a href="/login" type="button" class="btn btn-outline-danger btn-lg px-4">
            Login
          </a>

        <a href="/sign" type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">
          Register
        </a>
        
        <a  href="/table" type="button" class="btn btn-outline-light btn-lg px-4">
          Look at cats!
        </a>
      </div>
    </div>
  </div>